@import "tailwindcss";

@theme {
  --container-padding: 35px;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

:root {
  --main-color: #ff5227;
  --secondary-color: #f8f7f7;
}
