@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

:root {
  --main-color: #ff5227;
  --secondary-color: #f8f7f7;
}

@keyframes floatX {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes floatY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-x {
  animation: floatX 4s ease-in-out infinite;
}

.float-y {
  animation: floatY 4s ease-in-out infinite;
}
